html {
  background-color: rgb(230, 230, 230);}

  @font-face {
    font-family: 'PP Editorial New';
    src: url('https://github.com/labatablava/labatablava.github.io/blob/main/PPEditorialNew-Thin.woff2') format('woff2'),
        url('https://github.com/labatablava/labatablava.github.io/blob/main/PPEditorialNew-Thin.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Editorial New';
    src: url('https://github.com/labatablava/labatablava.github.io/blob/main/PPEditorialNew-ThinItalic.woff2') format('woff2'),
        url('https://github.com/labatablava/labatablava.github.io/blob/main/PPEditorialNew-ThinItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}


h1 {
  font-family: 'PP Editorial New', Georgia, 'Times New Roman', Times, serif;
  font-weight: 200;
  letter-spacing: -1px;
}

/* If the screen size is 901px wide or more, set the font-size of <div> to 45px */
@media screen and (min-width: 901px) {
  div.a {
    font-family: 'PP Editorial New', sans-serif;
    font-weight: 200;
    font-size: 46px;
    line-height:2.2em;
    padding: 0;
    margin-top: -50px;
  }
}

/* If the screen size is 900px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 900px) {
  div.a {
    font-size: 26px;
    line-height:2.2em;
    padding: 0;
    margin-top: -25px;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 20px */
@media screen and (max-width: 600px) {
  div.a {
    font-size: 18px;
    line-height:2.2em;
    padding: 0;
    margin-top: -15px;
  }
}

a {
  color: rgb(36, 36, 148);
  text-decoration: none;
  font-weight: 200;
  font-style: italic;
}

  
