html {
  background-color: rgb(230, 230, 230);

  @font-face {
    font-family: 'PP Editorial New';
    src: url(PPEditorialNew-Thin.woff2) format('woff2');
    src: url(PPEditorialNew-Thin.woff) format('woff');
    src: url(PPEditorialNew-Thin.ttf) format('ttf');
    font-weight: 200;
    font-style: normal;

}
@font-face {
  font-family: 'PP Editorial New';
  src: url(https://labatablava.github.io/PPEditorialNew-ThinItalic.woff2) format('woff2');
  src: url(https://labatablava.github.io/PPEditorialNew-ThinItalic.woff) format('woff');
  src: url(https://labatablava.github.io/PPEditorialNew-ThinItalic.ttf) format('ttf');
  font-weight: 200;
  font-style: italic;

}
}

h1 {
  font-family: 'PP Editorial New', sans-serif;
  font-weight: 200;
  letter-spacing: -1px;
}

/* If the screen size is 901px wide or more, set the font-size of <div> to 45px */
@media screen and (min-width: 901px) {
  div.a {
    font-size: 44px;
    line-height:2.2em;
    padding: 0;
    margin-top: -50px;
  }
}

/* If the screen size is 900px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 900px) {
  div.a {
    font-family: 'PPEditorialNew';
    font-size: 26px;
    line-height:2.2em;
    padding: 0;
    margin-top: -25px;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 20px */
@media screen and (max-width: 600px) {
  div.a {
    font-size: 18px;
    line-height:2.2em;
    padding: 0;
    margin-top: -15px;
  }
}

a {
  color: rgb(36, 36, 148);
  text-decoration: none;
  font-family: 'PP Editorial New', sans-serif;
  font-weight: 200;
  font-style: italic;
}

  